
/* ========================= layout ======================== */

/* começar com body, pra fazer modificações lineares */
html, body, .capa{
	height: 100%;
}

body{
	/*fazer uma composição de 3 backgrounds*/
	background: url('imagens/capa.png'), 
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);/*deixar letra minuscula*/
	background-attachment: fixed; /*mater a imagem de fundo fixa*/
	font-family: "Helvetica",'Muli', sans-serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

/* -- Imagem de capa (principal) -- */
.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Configuração dos botões -- */
.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;/*colocar todas as letras em maiusculo*/
	margin: 0px 15px; 	
	transition: background 0.5s, color 0.5s;
	margin-bottom: 10px;
}

.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background: #6207e3;
	color: white;
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background: white;
	color: black;
}

/* -- Seção de serviço -- */
#servico{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{
	padding: 10px 0px 10px 0px;
}

/* -- recursos -- */
#recursos{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* -- rotação da row com as imagens -- */
.rotacionar{
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg); /* Chrome, Safari, Mozila */
	-ms-transform: rotate(30deg); /* IE 9 */
	padding-left: 80px;
}

/* -- rodapé -- */
footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

/* -- redes socias -- */
.item-rede-social{
	float: right;
}

/* -- espaço entre as imagens de capa dos albuns -- */
.espaco{
	margin-bottom: 25px;
}

.fundopremium{
	background: rgb(73, 129, 114);
	display: table;
	width: 100%;
}

#area1{
	margin-top: 110px; 
	margin-bottom:30px;	
}

.btn-premium{
	color: rgb(46, 90, 78);;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;/*colocar todas as letras em maiusculo*/
	margin: 0px 15px; 	
	transition: background 0.5s, color 0.5s;
	margin-bottom: 10px;
	background: rgb(255, 205, 210);	
	letter-spacing: 0.14em;
}

.btn-premium a:hover{	
	background: rgb(255, 235, 210);
}

#fundo-univ{
	background: rgb(46, 90, 78);
	display: table;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}

#fundo-info{
	background: #FFF;
	display: table;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}

.alinhamento{
	text-align: center;
}

.espacamento{
	margin-top:50px;
}

.alinha-img{
	padding-top: 60px;
	padding-bottom: 20px;
}

.espaco-texto{
	padding-top: 15px;

}

.marcador-dir{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align:  right;
	font-size: 12px;
	color: rgb(255, 205, 210);
	font-weight: bold;
}

/* ========================= Tipografia (formatação de textos) ======================== */
h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 55px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#servico h2, #servico h3{
	color: #7c25f8;
}

#recursos p, #recursos h2{
	color: white;
}

#recursos h3{
	color: #9bf0e1;
}

#texto-secao h3{
	font-size: 45px;
	font-weight: bold;
	color: #FFFFFF;
}

#texto-secao h4{
	font-size: 28px;
	font-weight: ;
	color: #FFFFFF;
}

.txt-botao{
	font-size: 13px;
}

/* -- negrito -- */
.negrito{
	font-weight: bold;	
}

#fundo-univ h4{
	color: white;
	font-size: 16px;
	text-align: center;
	font-weight: lighter;
}

.titulo{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: rgb(34, 35, 38);
	text-align: center;
	font-weight: bold;
}

.txt-premium{
	color: rgb(34, 35, 38);
}

.txt-premium h4{
	font-size: 20px;
	font-weight: 700;
	color: rgb(34, 35, 38);
}